@import "normalize.scss";

:root {
  --primary-orange: #f15a24;
}

@font-face {
  font-family: "Graffiti";
  src: url("don-graffiti.regular.otf");
}

span, h1, h2, h3, a, p { font-family: "Graffiti"; color: #242424; letter-spacing: 0.1em; }

.hr {
  position: relative;
  @media (min-width: 768px) {
    display: grid;
    grid-template-areas: "logo contact"
    "menu menu";
  }
  @media (min-width: 1200px){
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo logo logo contact contact contact contact menu menu menu menu"
    "bio bio bio bio bio bio slider slider slider slider slider slider";
  }
}

.hr-SliderWrapper {
  grid-area: slider;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hr-Slider {
  display: flex;
  width: 100%;
  height: 70vw;
  @media (min-width: 1200px) {
    height: 30vw;
  }
}

.sl-Slider_Controls {
  opacity: 0;
}

.sl-slide {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}

.sl-slideImage {
  height: auto;
  width: 100%;
  object-fit: contain;
  object-position: top center;
}

.hr-Bio{
  grid-area: bio;
  background-image:  linear-gradient(90deg, #26292B, #151717);
  padding-top: 4em;
  margin-bottom: -2px;
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    letter-spacing: initial;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
    max-width: 24em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5em;
  }
  p:last-child {
    font-size: 2em;
    font-weight: 600;
    color: var(--primary-orange);
  }
}

.hr-Logo {
  display: block;
  width: 300px;
  margin: 0 auto;
  height: auto;
  position: relative;
  grid-area: logo;
  align-self: center;
}

.hr-Triangles_mobile {
  grid-area:logo;
  width: 100%;
  @media (min-width: 768px) {
    margin-top: 4.5em;
  }
  @media (min-width: 1025px) {
    display: none; visibility: hidden; opacity: 0;
  }
}

.hr-ContactWrapper {
  width: 100%;
  background: rgb(241,90,36);
  background: linear-gradient(90deg, rgba(241,90,36,1) 0%, rgba(246,112,64,1) 100%);
  position: relative;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  &::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    right: 0;
    height: 4em;
    background-image: url("/img/cenefa-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    grid-area: contact;
  }
  @media (min-width: 1200px){
    justify-content:center;
  }
}

.hr-ContactPhone {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 2.6em;
  margin-bottom: 0.3em;
}

.hr-ContactTwitter_wrapper {
  border: 1px solid white;
  height: 2em;
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 auto 2em;
}

.hr-Contact_twitterLogo {
  max-height: 2em;
  margin-right: 1em;
}

.hr-ContactTwitter_handle {
  color: #242424;
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 1em;
  letter-spacing: 0.1em;
}


.hr-ContactMap {
  display: block;
  width: 80%;
  height: auto;
  object-fit: contain;
}

.hr-Menu {
  background: linear-gradient(90deg, #26292B 0%, #151717 100%);
  padding-top: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  @media (min-width: 768px) {
    grid-area: menu;
    justify-content: center;
  }
  @media (min-width: 1200px){
    padding-bottom: 3em;
  }
}

.hr-Tacos, .hr-Sodas{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  @media (min-width: 768px) {
    flex-basis: 12em;
  }
  @media (min-width: 1200px) {
    flex-basis: 14em;
  }
}


.hr-TacosTitle, .hr-SodasTitle {
  color: var(--primary-orange);
  -webkit-text-stroke: 1px black;
  font-size: 2em;
  padding-bottom: 0.5em;
  @media (min-width: 768px) {
    font-size: 2.5em;
  }
  @media (min-width: 1200px) {
    font-size: 3.5em;
    margin-bottom: 0;
    padding-bottom: 0.3em;
  }
}

.hr-TacosItems_Wrapper, .hr-SodasItems_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.hr-TacosItem, .hr-SodasItem {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 0.1em;
  font-size: 1.2em;
  max-width: 8em;
  text-align: center;
  @media (min-width: 768px) {
    max-width: 12em;
  }
  @media (min-width: 1200px) {
    font-size: 1.7em;
  }
}

.pd {
  width: 100vw;
  background-image:  linear-gradient(90deg, #26292B, #151717);
  padding-top: 10vw;
  @media (min-width: 1200px) {
  }
}

.pd-List{
  background: center top / 40% no-repeat url("/img/cardon-straight.png"), 83% 150px / 8% no-repeat url("/img/maraca-3.png"), 72% 160px no-repeat url("/img/maraca-2.png"), 22% 150px no-repeat url("/img/maraca-1.png"), center top / 26px repeat-y  url("/img/triangles-black-vert.png");
  padding-top: 45vw;
  section:nth-child(2n) {
    grid-template-columns: 55% 1fr;
    grid-template-areas: "title ."
    "description image"
    "price image";
  }
  .pd-Container_Soda:nth-child(2n) {
    grid-template-areas: "title image"
    "description image"
    "price image";
  }
  @media (min-width: 768px) {
    background: center top / 20% no-repeat url("/img/cardon-straight.png"), 83% 150px / 8% no-repeat url("/img/maraca-3.png"), 72% 160px no-repeat url("/img/maraca-2.png"), 22% 150px no-repeat url("/img/maraca-1.png"), center top / 26px repeat-y  url("/img/triangles-black-vert.png");
    padding: 45vw 2em 0;
    max-width: 1000px;
  }
  @media (min-width: 1200px) {
    padding-top: 27em;
    margin: 0 auto;
    section:nth-child(2n) {
      grid-template-columns: 35% 1fr;
      grid-template-areas: "title ."
      "description image"
      "price image";
    }
    .pd-Container_Soda:nth-child(2n) {
      grid-template-areas: "title image"
      "description image"
      "price image";
      img {
        justify-self: start;
      }
    }
  }
}

.pd-Container, .pd-Container_Soda{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 55%;
  grid-template-areas: ". title"
  "image description"
  "image price";
  grid-gap: 0.7em;
  padding: 0.5em;
  padding-bottom: 8em;
  @media (min-width: 768px) {
    grid-gap: 1em 2em;
    grid-template-rows: auto auto 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 35%;
  }
}

.pd-Container_Soda {
  grid-template-areas: "image title"
  "image description"
  "image price";
}

.pd-ProductTitle {
  color: var(--primary-orange);
  grid-area: title;
  margin: 0;
  font-size: 1.7em;
  @media (min-width: 768px) {
    font-size: 2.5em;
  }
  @media (min-width: 1200px){
    font-size: 3.5em;
  }
}

.pd-ProductDescription {
  color: white;
  grid-area: description;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  @media (min-width: 1200px){
    font-size: 1.4em;
  }
}

.pd-ProductPrice {
  color: white;
  grid-area: price;
  align-self: start;
  justify-self: end;
  font-size: 1.5em;
}

.pd-ProductImage, .pd-ProductImage_Soda{
  display: block;
  width: 100%;
  height: 80%;
  grid-area: image;
  object-fit: cover;
  @media (min-width: 768px) {
    width: #{"min(50vw, 100%)"};
    height: #{"max(30vw, 100%)"};
  }
  @media (min-width: 1200px) {
    width: 500px;
    height: 410px;
    justify-self: center;
  }
}

.pd-ProductImage_Soda {
  object-fit: contain;
  @media (min-width: 1200px){
    justify-self: end;
    width: 230px;
  }
}
