<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chilangos Taqueria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1, user&#45;scalable=no"> -->
    {{ $styles := resources.Get "sass/main.scss" | resources.ToCSS (dict "targetPath" "main.css" "outputStyle" "compressed")| resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    <script src="lazysizes.min.js"></script>
    {{ $ts := resources.Get "ts/main.ts" | babel (dict "minified" true) }}
    {{ $js := slice $ts | resources.Concat "main.js" | fingerprint }}
    <script src="{{ $js.Permalink }}" type="application/javascript"></script>
</head>
<body>
    {{ block "main" . }}
    {{ end }}
</body>
</html>
