{{ define "main" }}
<div class="hr">
    <img class="hr-Triangles_mobile" src="/img/triangles.png" alt="">
    <img class="hr-Logo" src="/img/logo_white.png" alt="">
    <div class="hr-ContactWrapper">
        <span class="hr-ContactPhone">347-607-6205</span>
        <div class="hr-ContactTwitter_wrapper">
            <img class="hr-Contact_twitterLogo" src="/img/twitter.png" alt="">
            <a href="twiter.com/chilangostaqueria" target="_blank" class="hr-ContactTwitter_handle">@chilangostaqueria</a>
        </div>
        <img class="hr-ContactMap" src="/img/map.png" alt="">
    </div>
    <div class="hr-Menu">
        <div class="hr-Tacos">
            <h2 class="hr-TacosTitle">tacos</h2>
            <a class="hr-TacosItem" href="#">al pastor</a>
            <a class="hr-TacosItem" href="#">suadero</a>
            <a class="hr-TacosItem" href="#">chorizo</a>
            <a class="hr-TacosItem" href="#">tripa</a>
            <a class="hr-TacosItem" href="#">carne asada</a>
            <a class="hr-TacosItem" href="#">nopales</a>
            <a class="hr-TacosItem" href="#">grill chicken</a>
            <a class="hr-TacosItem" href="#">carnitas</a>
            <a class="hr-TacosItem" href="#">cuerito</a>
            <a class="hr-TacosItem" href="#">buche</a>
            <a class="hr-TacosItem" href="#">oreja</a>
            <a class="hr-TacosItem" href="#">mixta</a>
            <a class="hr-TacosItem" href="#">masiza</a>
        </div>
        <div class="hr-Sodas">
            <h2 class="hr-SodasTitle">Sodas</h2>
            <div class="hr-SodasItems_wrapper">
                <a class="hr-SodasItem" href="#">jarritos</a>
                <a class="hr-SodasItem" href="#">tangerine</a>
                <a class="hr-SodasItem" href="#">tamarindo</a>
                <a class="hr-SodasItem" href="#">fruit punch</a>
                <a class="hr-SodasItem" href="#">grapefruit</a>
                <a class="hr-SodasItem" href="#">mexican coca cola</a>
                <a class="hr-SodasItem" href="#">bottled water</a>
            </div>
        </div>
    </div>
    <div class="hr-Bio">
        <p>Chilango's taqueria is born out of its CEO's nickname Luis Santos, being born in Mexico City and raised in the family business learning alongside his uncle whose been in the business for over 40 years.</p>
        <p>Luis came to America in the 90's and thanks to his skills he became of a chain of 4 restaurants called Boxer's, then he moved on to Heartland Brewery where his work rose him to be the executive chef of a chain of 12 restaurants, working for the company for over 20 years.</p>
        <p>After all those years working  as executive chef he's joined his family for a new journey, Chilango's Taqueria!</p>
        <p>Authentic Mexican Tacos!!!</p>
    </div>
    <section class="hr-SliderWrapper">
        <div class="hr-Slider">
            <div class="sl-slide"><img class="sl-slideImage" src="/IMG_0153.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage" src="/IMG_0154.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage" src="/IMG_0155.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage" src="/IMG_0157.jpg" alt=""></div>
        </div>
        <div class="sl-Slider_Controls">
            <button class="sl-Slider_Control" type="button" data-index="0" aria-current="true"></button>
            <button class="sl-Slider_Control" type="button" data-index="1"></button>
            <button class="sl-Slider_Control" type="button" data-index="2"></button>
            <button class="sl-Slider_Control" type="button" data-index="3"></button>
        </div>

    </section>
</div>
<div class="pd">
    <div class="pd-List">
        {{ range where .Site.RegularPages "Section" "tacos" }}
        <section class="pd-Container">
            <h3 class="pd-ProductTitle">{{ .Title }}</h3>
            <img class="pd-ProductImage" src="{{ .Params.image }}" alt="{{ .Title }}">
            <p class="pd-ProductDescription">{{ .Params.description }}</p>
            <span class="pd-ProductPrice">${{ .Params.price }}</span>
        </section>
        {{ end }}
        {{ range where .Site.RegularPages "Section" "sodas" }}
        <section class="pd-Container_Soda">
            <h3 class="pd-ProductTitle">{{ .Title }}</h3>
            <img class="pd-ProductImage_Soda" src="{{ .Params.image }}" alt="{{ .Title }}">
            <p class="pd-ProductDescription">{{ .Params.description }}</p>
            <span class="pd-ProductPrice">${{ .Params.price }}</span>
        </section>
        {{ end }}
    </div>
</div>
{{ end }}
