{{ define "main" }}
<div class="hr">
    <img class="hr-Triangles_mobile" src="/img/triangles.png" alt="">
    <img class="hr-Logo" src="/img/logo_white.png" alt="">
    <div class="hr-ContactWrapper">
        <span class="hr-ContactPhone">347-607-6205</span>
        <div class="hr-ContactInstagram_wrapper">
            <img class="hr-Contact_instagramLogo" src="/img/instagram.png" alt="">
            <a href="https://www.instagram.com/chilangostaqueriany/" target="_blank" class="hr-ContactInstagram_handle">@chilangostaqueriany</a>
        </div><div class="hr-ContactFacebook_wrapper">
            <img class="hr-Contact_facebookLogo" src="/img/facebook.png" alt="">
            <a href="https://www.facebook.com/Chilangos-Taqueria-112064027590520" target="_blank" class="hr-ContactFacebook_handle">Chilango's Taqueria</a>
        </div>
        <div class="hr-ContactTwitter_wrapper">
            <img class="hr-Contact_twitterLogo" src="/img/twitter.png" alt="">
            <a href="twiter.com/chilangostaqueria" target="_blank" class="hr-ContactTwitter_handle">@chilangostaqueria</a>
        </div>
        <p style="font-size: 1.5em; text-align: center">102-18 Roosevelt Avenue<br>Corona, NY</p>
        <img class="hr-ContactMap" src="/img/map.png" alt="">
    </div>
    <div class="hr-Menu">
        <div class="hr-Tacos">
            <h2 class="hr-TacosTitle">tacos</h2>

            {{ range where .Site.RegularPages "Section" "tacos" }}
            <a class="hr-TacosItem" href="#" data-itemid="{{ path.Base .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <div class="hr-Sodas">
            <h2 class="hr-SodasTitle">Sodas</h2>
            <div class="hr-SodasItems_wrapper">
                <a class="hr-SodasItem" href="#">jarritos</a>
                {{ range where .Site.RegularPages "Section" "sodas" }}
                <a class="hr-SodasItem" href="#" data-itemid="{{ path.Base .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="hr-Bio">
        <p>Chilango's taqueria is born out of its CEO's nickname Luis Santos, being born in Mexico City and raised in the family business learning alongside his uncle whose been in the business for over 40 years.</p>
        <p>Luis came to America in the 90's and thanks to his skills he became part of a chain of 4 restaurants called Boxer's, then he moved on to Heartland Brewery where his work rose him to be the executive chef of a chain of 12 restaurants, working for the company for over 20 years.</p>
        <p>After all those years working  as executive chef he's joined his family for a new journey, Chilango's Taqueria!</p>
        <p>Authentic Mexican Tacos!!!</p>
    </div>
    <section class="hr-SliderWrapper">
        <div class="hr-Slider">
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0153.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0154.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0155.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0157.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0172.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0174.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0191.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0927.jpg" alt=""></div>
            <div class="sl-slide"><img class="sl-slideImage lazyload" data-src="/uploads/IMG_0201.jpg" alt=""></div>
        </div>
        <div class="sl-Slider_Controls">
            <button class="sl-Slider_Control" type="button" data-index="0" aria-current="true"></button>
            <button class="sl-Slider_Control" type="button" data-index="1"></button>
            <button class="sl-Slider_Control" type="button" data-index="2"></button>
            <button class="sl-Slider_Control" type="button" data-index="3"></button>
            <button class="sl-Slider_Control" type="button" data-index="4"></button>
            <button class="sl-Slider_Control" type="button" data-index="5"></button>
            <button class="sl-Slider_Control" type="button" data-index="6"></button>
            <button class="sl-Slider_Control" type="button" data-index="7"></button>
            <button class="sl-Slider_Control" type="button" data-index="8"></button>
        </div>

    </section>
</div>
<div class="pd">
    <div class="pd-List">
        {{ range where .Site.RegularPages "Section" "tacos" }}
        <section class="pd-Container" data-item="{{ path.Base .Permalink }}">
            <h3 class="pd-ProductTitle">{{ .Title }}</h3>
            <img class="pd-ProductImage lazyload" data-src="{{ .Params.image }}" alt="{{ .Title }}">
            <p class="pd-ProductDescription">{{ .Params.description }}</p>
            <span class="pd-ProductPrice">${{ .Params.price }}</span>
        </section>
        {{ end }}
        {{ range where .Site.RegularPages "Section" "sodas" }}
        <section class="pd-Container_Soda" data-item="{{ path.Base .Permalink }}">
            <h3 class="pd-ProductTitle">{{ .Title }}</h3>
            <img class="pd-ProductImage_Soda lazyload" data-src="{{ .Params.image }}" alt="{{ .Title }}">
            <p class="pd-ProductDescription">{{ .Params.description }}</p>
            <span class="pd-ProductPrice">${{ .Params.price }}</span>
        </section>
        {{ end }}
    </div>
</div>
{{ end }}
